<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>$pagetitle$</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/main.css">
		<link rel="stylesheet" href="/code.css">
		<meta name="description" content="$desc$">
		<link rel="icon" href="/favicon.svg">
	</head>
	<body>
		<nav>
			<a class="nav nav-home" href="/">About</a>
			<a class="nav nav-link" href="/math">Math</a>
			<a class="nav nav-link" href="/writing">Resources</a>
			<a class="nav nav-link" href="/code">Writing</a>
		</nav>
		<main>
			<h1>$pagetitle$</h1>
$body$
		</main>
		<footer>
			<div>
			</div>
			<div>
				<a href="mailto:paulahamrick@gmail.com">paulahamrick@gmail.com</a>
			</div>
		</footer>
	</body>
</html>
